.nav-container {
  background-color: #935555;
  height: 150px;
}
.nav-container .nav-logo{color: white;}


.main-body-hs {
  width: 100%;
  min-height: calc(100vh - 80px); /* 메뉴바 높이만큼 빼기 */
  
  background-image: url("../images/background.png");
  background-size: cover;        /* 화면에 꽉 차게 */
  background-position: center;   /* 중앙 기준 */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body-hs .float-bg-hs{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    background-color: #FFF1B9;
    width: 600px; height: 400px;
    border-radius: 10px;
}

.main-body-hs .float-bg-hs .game-title-hs{
    color: #935555; font-size: 60px; font-weight: 900;
}
.main-body-hs .float-bg-hs .main-buttons-hs{display: flex; flex-wrap: nowrap;}
.main-body-hs .float-bg-hs .main-buttons-hs .loginbtn-hs{
    background-color: #935555; 
    width: 80px; height: 30px; border-radius: 5px; 
    text-align: center; color: white;
    display: flex; align-items: center; justify-content: center; padding: 3px; margin: 5px;
}
.main-body-hs .float-bg-hs .main-buttons-hs .signupbutn-hs{
    background-color: #7C7C7C; 
    width: 80px; height: 30px; border-radius: 5px; 
    text-align: center; color: white;
    display: flex; align-items: center; justify-content: center; padding: 3px; margin: 5px;
}