{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Piro Card Match{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--베이스 style.css 링크해둠. 초기화 css인 reset.css도 필요하면 생성후 여기 링크하기-->
</head>
<body class="main-background">

    <header class="nav-bar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="{% url 'games:main' %}">Piro Card Match</a>
            </div>

            <nav class="nav-links">
                {% if user.is_authenticated %} <!--로그인 했을시만 표시하도록-->
                    <a href="{% url 'games:game_attack' %}">게임하기</a>
                    <a href="{% url 'games:ranking' %}">랭킹보기</a>
                    
                    <a href="{% url 'users:logout' %}">로그아웃</a> <!--아직 링크 미정이라 #으로 해둠 나중에 수정해야함. 수정완료!!! -->
                    {% else %}
                    {% endif %}
            </nav>
        </div>
    </header>

    <main class="content-wrapper">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script> <!--js도 베이스 js 링크해뒀음.-->
</body>
</html>