<!-- 회원가입 페이지 -->

{% extends 'base.html' %}
{% load static %}

{% block title %}회원가입 - Piro Card Match{% endblock %}

{% block content %}
<div class="main-container">
    <div class="auth-box signup-box">
        <h1 class="auth-title">Sign up</h1>
        
        <form method="POST" action="" class="auth-form">
            {% csrf_token %}
            
            <div class="signup-inner-box">
                
                <div class="input-group">
                    <label for="id_nickname" class="sr-only">Name</label>
                    <input type="text" name="first_name" id="id_nickname" placeholder="USER NAME">
                    </div>

                <div class="input-group">
                    <label for="id_username" class="sr-only">ID</label>
                    <input type="text" name="username" id="id_username" placeholder="ID">
                </div>

                <div class="input-group">
                    <label for="id_password" class="sr-only">PW</label>
                    <input type="password" name="password1" id="id_password" placeholder="PW">
                </div>
                
                <div class="input-group">
                    <label for="id_password_check" class="sr-only">PW Check</label>
                    <input type="password" name="password2" id="id_password_check" placeholder="PW 확인">
                </div>

                <div id="password-feedback" style="font-size: 14px; margin-top: 5px; min-height: 20px;"></div>

            </div>

            <div class="btn-area align-right">
                <button type="submit" class="btn-submit">회원가입</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}